{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": ["Cargo.toml"],
            "from": "^version = \".*\"",
            "to": "version = \"${nextRelease.version}\"",
            "results": [
              {
                "file": "Cargo.toml",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          }
        ]
      }
    ],
    [
        "@semantic-release/exec",
        {
          "verifyConditionsCmd": "cargo check",
          "prepareCmd": "cargo publish --allow-dirty --dry-run",
          "publishCmd": "cargo publish --allow-dirty"
        }
      ],
    "@semantic-release/github"
  ]
}